*.o
*.so*
*.pyc
*.a
*.ini
*.log
*.dylib
.out
sipStone
sipStonegui
sipClasses
sipClassesui
sipBach
sipBurner
sipFreezer
sipAbsubmit
autocore
svnrev.h
*-svnrev.nsi
Makefile
Makefile.Release
Makefile.Debug
*.swp
*.exe
*.exp
*.pdb
*.obj
*.lib
*.pyd
*.dll
w_qpy*.pro
Qtmod.sip
auto.pri
loader.cpp
moc_*.cpp
build_resume.cache
*.manifest