*.o
*.so*
*.pyc
*.a
*.ini
*.log
*.dylib
.out
sipStone
sipStoneStatic
sipStonegui
sipStoneguiStatic
sipClasses
sipClassesStatic
sipClassesui
sipClassesuiStatic
sipBach
sipBurner
sipFreezer
sipFreezerStatic
sipAbsubmit
sipAbsubmitStatic
autocore
svnrev.h
*-svnrev.nsi
Makefile
Makefile.Release
Makefile.Debug
sipMakefile
sipMakefileStatic
*.swp
*.exe
*.exp
*.pdb
*.obj
*.lib
*.pyd
*.dll
w_qpy*.pro
Qtmod.sip
auto.pri
loader.cpp
moc_*.cpp
build_resume.cache
stoneconfig.py
qrc_stonegui.cpp
stoneguiconfig.py
cpp/lib/classes/sip/*.sip
!cpp/lib/classes/sip/classes.sip
classesconfig.py
qrc_threadview.cpp
qrc_freezer.cpp
qrc_burner.cpp
*.manifest
*.pyd.manifest
sipconfig.py
