Summary: Classes Library
Name: classes
Version: 1.0
Release: DrD
License: GPL
Group: Applications/Programming
Distribution: CentOS
Vendor: Dr. D Studios
Packager: Aren Villanueva <aren.villanueva@drdstudios.com>
BuildRoot:
AutoReqProv: No

%define _unpackaged_files_terminate_build 0

%description
Encapsulating classes for the Arsenal database tables in C++ and Python

%files
%defattr(-,root,root,-)
/usr/lib/python2.5/site-packages/blur/Classes.so
/usr/lib/python2.5/site-packages/blur/Classesui.so
/usr/lib/python2.5/site-packages/classesconfig.py
/usr/share/sip/blur/calendarlist.sip
/usr/share/sip/blur/jobaftereffects7list.sip
/usr/share/sip/blur/tasklist.sip
/usr/share/sip/blur/userelement.sip
/usr/share/sip/blur/hostsoftwarelist.sip
/usr/share/sip/blur/mappingtype.sip
/usr/share/sip/blur/jobhistory.sip
/usr/share/sip/blur/permissionlist.sip
/usr/share/sip/blur/sysloglist.sip
/usr/share/sip/blur/jobmax6list.sip
/usr/share/sip/blur/employeelist.sip
/usr/share/sip/blur/jobshake.sip
/usr/share/sip/blur/jobmentalray85list.sip
/usr/share/sip/blur/hostinterfacelist.sip
/usr/share/sip/blur/jobmentalray2011list.sip
/usr/share/sip/blur/hostgroupitem.sip
/usr/share/sip/blur/userrole.sip
/usr/share/sip/blur/shotgroup.sip
/usr/share/sip/blur/location.sip
/usr/share/sip/blur/jobrealflowlist.sip
/usr/share/sip/blur/schedule.sip
/usr/share/sip/blur/statusset.sip
/usr/share/sip/blur/classes.sip
/usr/share/sip/blur/jobmantra100.sip
/usr/share/sip/blur/jobstatusskipreasonlist.sip
/usr/share/sip/blur/jobstatus.sip
/usr/share/sip/blur/jobstatuslist.sip
/usr/share/sip/blur/jobbatchlist.sip
/usr/share/sip/blur/notificationmethodlist.sip
/usr/share/sip/blur/jobstat.sip
/usr/share/sip/blur/versionfiletrackerlist.sip
/usr/share/sip/blur/projectstatus.sip
/usr/share/sip/blur/jobfiltermessage.sip
/usr/share/sip/blur/jobcannedbatch.sip
/usr/share/sip/blur/jobfusionvideomakerlist.sip
/usr/share/sip/blur/diskimage.sip
/usr/share/sip/blur/jobfiltertype.sip
/usr/share/sip/blur/jobsynclist.sip
/usr/share/sip/blur/employee.sip
/usr/share/sip/blur/calendarcategory.sip
/usr/share/sip/blur/jobfusion.sip
/usr/share/sip/blur/projectstorage.sip
/usr/share/sip/blur/versionfiletracker.sip
/usr/share/sip/blur/assetgrouplist.sip
/usr/share/sip/blur/syslogrealm.sip
/usr/share/sip/blur/jobmentalray7.sip
/usr/share/sip/blur/jobmentalray8.sip
/usr/share/sip/blur/shotgrouplist.sip
/usr/share/sip/blur/jobcommandhistorylist.sip
/usr/share/sip/blur/jobfiltermessagelist.sip
/usr/share/sip/blur/thumbnail.sip
/usr/share/sip/blur/jobmentalray2009list.sip
/usr/share/sip/blur/jobtype.sip
/usr/share/sip/blur/jobxsiscript.sip
/usr/share/sip/blur/jobmax10.sip
/usr/share/sip/blur/permission.sip
/usr/share/sip/blur/jobmaya2011list.sip
/usr/share/sip/blur/threadnotifylist.sip
/usr/share/sip/blur/schedulelist.sip
/usr/share/sip/blur/graphrelationshiplist.sip
/usr/share/sip/blur/jobhistorylist.sip
/usr/share/sip/blur/hostgroup.sip
/usr/share/sip/blur/hostservicelist.sip
/usr/share/sip/blur/delivery.sip
/usr/share/sip/blur/locationlist.sip
/usr/share/sip/blur/joblist.sip
/usr/share/sip/blur/jobcannedbatchlist.sip
/usr/share/sip/blur/deliveryelementlist.sip
/usr/share/sip/blur/qlist.sip
/usr/share/sip/blur/threadnotify.sip
/usr/share/sip/blur/joberrorhandlerscriptlist.sip
/usr/share/sip/blur/jobmaya7list.sip
/usr/share/sip/blur/gridtemplateitemlist.sip
/usr/share/sip/blur/clientlist.sip
/usr/share/sip/blur/job3delight.sip
/usr/share/sip/blur/jobmax8list.sip
/usr/share/sip/blur/job3delightlist.sip
/usr/share/sip/blur/jobmax2009.sip
/usr/share/sip/blur/pathsynctarget.sip
/usr/share/sip/blur/timesheetlist.sip
/usr/share/sip/blur/timesheet.sip
/usr/share/sip/blur/serverfileaction.sip
/usr/share/sip/blur/jobnuke52list.sip
/usr/share/sip/blur/jobhistorytypelist.sip
/usr/share/sip/blur/statussetlist.sip
/usr/share/sip/blur/calendarcategorylist.sip
/usr/share/sip/blur/jobenvironment.sip
/usr/share/sip/blur/jobbatch.sip
/usr/share/sip/blur/shotlist.sip
/usr/share/sip/blur/jobmax7.sip
/usr/share/sip/blur/serverfileactionstatuslist.sip
/usr/share/sip/blur/userlist.sip
/usr/share/sip/blur/pathsynctargetlist.sip
/usr/share/sip/blur/graphrelationship.sip
/usr/share/sip/blur/jobassignmentstatuslist.sip
/usr/share/sip/blur/mappinglist.sip
/usr/share/sip/blur/gridtemplate.sip
/usr/share/sip/blur/client.sip
/usr/share/sip/blur/userservice.sip
/usr/share/sip/blur/calendar.sip
/usr/share/sip/blur/serverfileactionlist.sip
/usr/share/sip/blur/thread.sip
/usr/share/sip/blur/gruntscript.sip
/usr/share/sip/blur/jobmax10list.sip
/usr/share/sip/blur/jobfiltersetlist.sip
/usr/share/sip/blur/mapping.sip
/usr/share/sip/blur/jobassignment.sip
/usr/share/sip/blur/abdownloadstat.sip
/usr/share/sip/blur/hoststatus.sip
/usr/share/sip/blur/abdownloadstatlist.sip
/usr/share/sip/blur/element.sip
/usr/share/sip/blur/jobmentalray2009.sip
/usr/share/sip/blur/configlist.sip
/usr/share/sip/blur/jobtypelist.sip
/usr/share/sip/blur/jobmentalray85.sip
/usr/share/sip/blur/jobmaya85list.sip
/usr/share/sip/blur/notificationdestination.sip
/usr/share/sip/blur/jobmentalray8list.sip
/usr/share/sip/blur/syslogrealmlist.sip
/usr/share/sip/blur/jobtasklist.sip
/usr/share/sip/blur/hosthistory.sip
/usr/share/sip/blur/filetracker.sip
/usr/share/sip/blur/jobcinema4d.sip
/usr/share/sip/blur/jobnaiad.sip
/usr/share/sip/blur/joberror.sip
/usr/share/sip/blur/graphlist.sip
/usr/share/sip/blur/pathtracker.sip
/usr/share/sip/blur/jobmax.sip
/usr/share/sip/blur/gridtemplatelist.sip
/usr/share/sip/blur/jobhoudinisim10list.sip
/usr/share/sip/blur/elementtypelist.sip
/usr/share/sip/blur/rangefiletrackerlist.sip
/usr/share/sip/blur/filetrackerlist.sip
/usr/share/sip/blur/joberrorhandlerlist.sip
/usr/share/sip/blur/assettemplate.sip
/usr/share/sip/blur/elementtype.sip
/usr/share/sip/blur/jobmaxscriptlist.sip
/usr/share/sip/blur/jobcommandhistory.sip
/usr/share/sip/blur/hostmappinglist.sip
/usr/share/sip/blur/jobtaskassignment.sip
/usr/share/sip/blur/jobnuke51list.sip
/usr/share/sip/blur/jobnuke.sip
/usr/share/sip/blur/jobmaya2009list.sip
/usr/share/sip/blur/diskimagelist.sip
/usr/share/sip/blur/assettypelist.sip
/usr/share/sip/blur/dynamichostgroup.sip
/usr/share/sip/blur/graphds.sip
/usr/share/sip/blur/thumbnaillist.sip
/usr/share/sip/blur/jobmax9list.sip
/usr/share/sip/blur/resolution.sip
/usr/share/sip/blur/hostinterfacetype.sip
/usr/share/sip/blur/gruntscriptlist.sip
/usr/share/sip/blur/history.sip
/usr/share/sip/blur/jobmaya2008.sip
/usr/share/sip/blur/service.sip
/usr/share/sip/blur/servicelist.sip
/usr/share/sip/blur/jobstatusskipreason.sip
/usr/share/sip/blur/elementlist.sip
/usr/share/sip/blur/jobsync.sip
/usr/share/sip/blur/elementdep.sip
/usr/share/sip/blur/assettemplatelist.sip
/usr/share/sip/blur/serverfileactiontypelist.sip
/usr/share/sip/blur/gridtemplateitem.sip
/usr/share/sip/blur/annotation.sip
/usr/share/sip/blur/filetrackerdep.sip
/usr/share/sip/blur/checklistitemlist.sip
/usr/share/sip/blur/jobribgen.sip
/usr/share/sip/blur/jobribgenlist.sip
/usr/share/sip/blur/elementdeplist.sip
/usr/share/sip/blur/jobmaya8list.sip
/usr/share/sip/blur/jobtypemapping.sip
/usr/share/sip/blur/syslogseverity.sip
/usr/share/sip/blur/jobxsilist.sip
/usr/share/sip/blur/pathtemplate.sip
/usr/share/sip/blur/jobmantra100list.sip
/usr/share/sip/blur/jobassignmentlist.sip
/usr/share/sip/blur/hostservice.sip
/usr/share/sip/blur/jobrealflow.sip
/usr/share/sip/blur/joberrorhandlerscript.sip
/usr/share/sip/blur/hostgroupitemlist.sip
/usr/share/sip/blur/joberrorlist.sip
/usr/share/sip/blur/projectlist.sip
/usr/share/sip/blur/jobtask.sip
/usr/share/sip/blur/elementuser.sip
/usr/share/sip/blur/hostloadlist.sip
/usr/share/sip/blur/software.sip
/usr/share/sip/blur/user.sip
/usr/share/sip/blur/jobhoudinisim10.sip
/usr/share/sip/blur/jobaftereffectslist.sip
/usr/share/sip/blur/jobmayalist.sip
/usr/share/sip/blur/jobmax5.sip
/usr/share/sip/blur/joboutputlist.sip
/usr/share/sip/blur/userelementlist.sip
/usr/share/sip/blur/jobaftereffects8.sip
/usr/share/sip/blur/jobmax5list.sip
/usr/share/sip/blur/notificationlist.sip
/usr/share/sip/blur/graphpage.sip
/usr/share/sip/blur/projectstoragelist.sip
/usr/share/sip/blur/hostlist.sip
/usr/share/sip/blur/asset.sip
/usr/share/sip/blur/usermappinglist.sip
/usr/share/sip/blur/jobmaxscript.sip
/usr/share/sip/blur/jobrenderman.sip
/usr/share/sip/blur/jobxsi.sip
/usr/share/sip/blur/hostsoftware.sip
/usr/share/sip/blur/userservicelist.sip
/usr/share/sip/blur/jobmaya.sip
/usr/share/sip/blur/joberrorhandler.sip
/usr/share/sip/blur/jobtypemappinglist.sip
/usr/share/sip/blur/jobnaiadlist.sip
/usr/share/sip/blur/threadlist.sip
/usr/share/sip/blur/jobautodeskburnlist.sip
/usr/share/sip/blur/softwarelist.sip
/usr/share/sip/blur/jobmaya2011.sip
/usr/share/sip/blur/serverfileactiontype.sip
/usr/share/sip/blur/projectstatuslist.sip
/usr/share/sip/blur/graphdslist.sip
/usr/share/sip/blur/jobmaya2009.sip
/usr/share/sip/blur/checklistitem.sip
/usr/share/sip/blur/jobmax7list.sip
/usr/share/sip/blur/jobstateactionlist.sip
/usr/share/sip/blur/jobenvironmentlist.sip
/usr/share/sip/blur/jobaftereffects7.sip
/usr/share/sip/blur/joboutput.sip
/usr/share/sip/blur/usergrouplist.sip
/usr/share/sip/blur/jobfusionlist.sip
/usr/share/sip/blur/jobmax8.sip
/usr/share/sip/blur/hosthistorylist.sip
/usr/share/sip/blur/checkliststatus.sip
/usr/share/sip/blur/notificationdestinationlist.sip
/usr/share/sip/blur/pathtrackerlist.sip
/usr/share/sip/blur/jobmentalray7list.sip
/usr/share/sip/blur/checkliststatuslist.sip
/usr/share/sip/blur/graph.sip
/usr/share/sip/blur/grouplist.sip
/usr/share/sip/blur/dynamichostgrouplist.sip
/usr/share/sip/blur/jobfilterset.sip
/usr/share/sip/blur/jobnuke51.sip
/usr/share/sip/blur/jobdep.sip
/usr/share/sip/blur/annotationlist.sip
/usr/share/sip/blur/assetlist.sip
/usr/share/sip/blur/jobmentalray2011.sip
/usr/share/sip/blur/usergroup.sip
/usr/share/sip/blur/hostinterface.sip
/usr/share/sip/blur/jobshakelist.sip
/usr/share/sip/blur/elementstatus.sip
/usr/share/sip/blur/historylist.sip
/usr/share/sip/blur/elementuserlist.sip
/usr/share/sip/blur/hostload.sip
/usr/share/sip/blur/notificationroute.sip
/usr/share/sip/blur/hostinterfacetypelist.sip
/usr/share/sip/blur/userrolelist.sip
/usr/share/sip/blur/syslogseveritylist.sip
/usr/share/sip/blur/jobcinema4dlist.sip
/usr/share/sip/blur/shot.sip
/usr/share/sip/blur/jobmaya7.sip
/usr/share/sip/blur/config.sip
/usr/share/sip/blur/syslog.sip
/usr/share/sip/blur/task.sip
/usr/share/sip/blur/group.sip
/usr/share/sip/blur/jobmaya8.sip
/usr/share/sip/blur/deliverylist.sip
/usr/share/sip/blur/project.sip
/usr/share/sip/blur/rangefiletracker.sip
/usr/share/sip/blur/jobfusionvideomaker.sip
/usr/share/sip/blur/assetgroup.sip
/usr/share/sip/blur/auto.sip
/usr/share/sip/blur/jobstateaction.sip
/usr/share/sip/blur/jobmax9.sip
/usr/share/sip/blur/jobnukelist.sip
/usr/share/sip/blur/hostgrouplist.sip
/usr/share/sip/blur/jobdeplist.sip
/usr/share/sip/blur/notification.sip
/usr/share/sip/blur/jobaftereffects8list.sip
/usr/share/sip/blur/jobhistorytype.sip
/usr/share/sip/blur/jobtaskassignmentlist.sip
/usr/share/sip/blur/assetpropertylist.sip
/usr/share/sip/blur/jobxsiscriptlist.sip
/usr/share/sip/blur/mappingtypelist.sip
/usr/share/sip/blur/job.sip
/usr/share/sip/blur/serverfileactionstatus.sip
/usr/share/sip/blur/jobstatlist.sip
/usr/share/sip/blur/jobaftereffects.sip
/usr/share/sip/blur/jobservice.sip
/usr/share/sip/blur/host.sip
/usr/share/sip/blur/jobnuke52.sip
/usr/share/sip/blur/resolutionlist.sip
/usr/share/sip/blur/notificationmethod.sip
/usr/share/sip/blur/jobmax2009list.sip
/usr/share/sip/blur/jobmaya2008list.sip
/usr/share/sip/blur/assettype.sip
/usr/share/sip/blur/deliveryelement.sip
/usr/share/sip/blur/hoststatuslist.sip
/usr/share/sip/blur/jobautodeskburn.sip
/usr/share/sip/blur/jobmaxlist.sip
/usr/share/sip/blur/jobfiltertypelist.sip
/usr/share/sip/blur/usermapping.sip
/usr/share/sip/blur/jobservicelist.sip
/usr/share/sip/blur/graphpagelist.sip
/usr/share/sip/blur/elementstatuslist.sip
/usr/share/sip/blur/groupmappinglist.sip
/usr/share/sip/blur/hostmapping.sip
/usr/share/sip/blur/jobassignmentstatus.sip
/usr/share/sip/blur/licenselist.sip
/usr/share/sip/blur/pathtemplatelist.sip
/usr/share/sip/blur/jobrendermanlist.sip
/usr/share/sip/blur/assetproperty.sip
/usr/share/sip/blur/groupmapping.sip
/usr/share/sip/blur/filetrackerdeplist.sip
/usr/share/sip/blur/jobmax6.sip
/usr/share/sip/blur/license.sip
/usr/share/sip/blur/jobmaya85.sip
/usr/share/sip/blur/notificationroutelist.sip
/usr/share/sip/blur/elementui.sip
/usr/share/sip/blur/hostselector.sip
/usr/share/sip/blur/classesui.sip
/usr/share/sip/blur/datechooser.sip
/usr/share/sip/blur/projectcombo.sip
/usr/share/sip/blur/dialogfactory.sip
/usr/share/sip/blur/elementmodel.sip
/usr/share/sip/blur/thumbnailui.sip
/usr/share/sip/blur/assettemplatecombo.sip
/usr/share/sip/blur/shotdialog.sip
/usr/share/sip/blur/assetdialog.sip
/usr/local/lib/libclasses.so.1.0.0
/usr/local/lib/libclassesui.so.1.0.0

%clean

