Summary: PyQt Library
Name: pyqt
Version: 4.6.2
Release: DrD
License: GPL
Group: Libraries/Programming
Distribution: CentOS
Vendor: Dr. D Studios
Packager: Aren Villanueva <aren.villanueva@drdstudios.com>
BuildRoot:
AutoReqProv: No

%define _unpackaged_files_terminate_build 0

%description
PyQt library

%files
%defattr(-,root,root,-)
/usr/bin/pyuic4
/usr/bin/pylupdate4
/usr/bin/pyrcc4
/usr/lib/python2.5/site-packages/PyQt4/QtCore.so
/usr/lib/python2.5/site-packages/PyQt4/QtGui.so
/usr/lib/python2.5/site-packages/PyQt4/QtHelp.so
/usr/lib/python2.5/site-packages/PyQt4/QtMultimedia.so
/usr/lib/python2.5/site-packages/PyQt4/QtNetwork.so
/usr/lib/python2.5/site-packages/PyQt4/QtOpenGL.so
/usr/lib/python2.5/site-packages/PyQt4/QtScript.so
/usr/lib/python2.5/site-packages/PyQt4/QtScriptTools.so
/usr/lib/python2.5/site-packages/PyQt4/QtSql.so
/usr/lib/python2.5/site-packages/PyQt4/QtSvg.so
/usr/lib/python2.5/site-packages/PyQt4/QtTest.so
/usr/lib/python2.5/site-packages/PyQt4/QtWebKit.so
/usr/lib/python2.5/site-packages/PyQt4/QtXml.so
/usr/lib/python2.5/site-packages/PyQt4/QtXmlPatterns.so
/usr/lib/python2.5/site-packages/PyQt4/QtDesigner.so
/usr/lib/python2.5/site-packages/PyQt4/Qt.so
/usr/lib/python2.5/site-packages/PyQt4/uic/driver.py
/usr/lib/python2.5/site-packages/PyQt4/uic/autoconnect.py
/usr/lib/python2.5/site-packages/PyQt4/uic/pyuic.py
/usr/lib/python2.5/site-packages/PyQt4/uic/icon_cache.py
/usr/lib/python2.5/site-packages/PyQt4/uic/objcreator.py
/usr/lib/python2.5/site-packages/PyQt4/uic/__init__.py
/usr/lib/python2.5/site-packages/PyQt4/uic/uiparser.py
/usr/lib/python2.5/site-packages/PyQt4/uic/properties.py
/usr/lib/python2.5/site-packages/PyQt4/uic/exceptions.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v2/invoke.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v2/string_io.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v2/proxy_base.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v2/encode_utf8.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v2/__init__.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v2/load_plugin.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v2/ascii_upper.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Compiler/compiler.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Compiler/qtproxies.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Compiler/proxyproperties.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Compiler/__init__.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Compiler/proxy_type.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Compiler/misc.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Compiler/qobjectcreator.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Compiler/indenter.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v3/invoke.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v3/string_io.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v3/proxy_base.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v3/encode_utf8.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v3/__init__.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v3/load_plugin.py
/usr/lib/python2.5/site-packages/PyQt4/uic/port_v3/ascii_upper.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Loader/loader.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Loader/__init__.py
/usr/lib/python2.5/site-packages/PyQt4/uic/Loader/qobjectcreator.py
/usr/lib/python2.5/site-packages/PyQt4/uic/widget-plugins/qscintilla.py
/usr/lib/python2.5/site-packages/PyQt4/uic/widget-plugins/qwt.py
/usr/lib/python2.5/site-packages/PyQt4/uic/widget-plugins/qaxcontainer.py
/usr/lib/python2.5/site-packages/PyQt4/uic/widget-plugins/phonon.py
/usr/lib/python2.5/site-packages/PyQt4/uic/widget-plugins/qtwebkit.py
/usr/lib/python2.5/site-packages/PyQt4/__init__.py
/usr/lib/python2.5/site-packages/PyQt4/pyqtconfig.py
/usr/share/sip/QtCore/qset.sip
/usr/share/sip/QtCore/qobject2.sip
/usr/share/sip/QtCore/qfsfileengine.sip
/usr/share/sip/QtCore/qthreadpool.sip
/usr/share/sip/QtCore/qchar.sip
/usr/share/sip/QtCore/qpauseanimation.sip
/usr/share/sip/QtCore/qcryptographichash.sip
/usr/share/sip/QtCore/qxmlstream.sip
/usr/share/sip/QtCore/qprocess.sip
/usr/share/sip/QtCore/qlist.sip
/usr/share/sip/QtCore/qtextcodec.sip
/usr/share/sip/QtCore/qnamespace.sip
/usr/share/sip/QtCore/qsystemsemaphore.sip
/usr/share/sip/QtCore/qsettings.sip
/usr/share/sip/QtCore/qtimeline.sip
/usr/share/sip/QtCore/qtimer.sip
/usr/share/sip/QtCore/qobject3.sip
/usr/share/sip/QtCore/qmetatype.sip
/usr/share/sip/QtCore/qpropertyanimation.sip
/usr/share/sip/QtCore/qtemporaryfile.sip
/usr/share/sip/QtCore/quuid.sip
/usr/share/sip/QtCore/qurl.sip
/usr/share/sip/QtCore/qpair.sip
/usr/share/sip/QtCore/qsharedmemory.sip
/usr/share/sip/QtCore/qfilesystemwatcher.sip
/usr/share/sip/QtCore/qabstracttransition.sip
/usr/share/sip/QtCore/qrunnable.sip
/usr/share/sip/QtCore/qbuffer.sip
/usr/share/sip/QtCore/qiodevice.sip
/usr/share/sip/QtCore/qtranslator.sip
/usr/share/sip/QtCore/qresource.sip
/usr/share/sip/QtCore/qparallelanimationgroup.sip
/usr/share/sip/QtCore/qanimationgroup.sip
/usr/share/sip/QtCore/qbitarray.sip
/usr/share/sip/QtCore/qstate.sip
/usr/share/sip/QtCore/qmutex.sip
/usr/share/sip/QtCore/qeasingcurve.sip
/usr/share/sip/QtCore/qabstractanimation.sip
/usr/share/sip/QtCore/qsize.sip
/usr/share/sip/QtCore/qhistorystate.sip
/usr/share/sip/QtCore/qdatastream.sip
/usr/share/sip/QtCore/qabstractstate.sip
/usr/share/sip/QtCore/qeventtransition.sip
/usr/share/sip/QtCore/QtCoremod.sip
/usr/share/sip/QtCore/qabstracteventdispatcher.sip
/usr/share/sip/QtCore/qtextboundaryfinder.sip
/usr/share/sip/QtCore/qpoint.sip
/usr/share/sip/QtCore/qmetaobject.sip
/usr/share/sip/QtCore/qcoreapplication.sip
/usr/share/sip/QtCore/qsequentialanimationgroup.sip
/usr/share/sip/QtCore/qmap.sip
/usr/share/sip/QtCore/qsignaltransition.sip
/usr/share/sip/QtCore/qeventloop.sip
/usr/share/sip/QtCore/qabstractitemmodel.sip
/usr/share/sip/QtCore/qvariantanimation.sip
/usr/share/sip/QtCore/qstring.sip
/usr/share/sip/QtCore/qbytearraymatcher.sip
/usr/share/sip/QtCore/qregexp.sip
/usr/share/sip/QtCore/qfile.sip
/usr/share/sip/QtCore/qwaitcondition.sip
/usr/share/sip/QtCore/qnumeric.sip
/usr/share/sip/QtCore/qmimedata.sip
/usr/share/sip/QtCore/qsignalmapper.sip
/usr/share/sip/QtCore/qvector.sip
/usr/share/sip/QtCore/qdir.sip
/usr/share/sip/QtCore/qfileinfo.sip
/usr/share/sip/QtCore/qtextstream.sip
/usr/share/sip/QtCore/qrect.sip
/usr/share/sip/QtCore/qbasictimer.sip
/usr/share/sip/QtCore/qthread.sip
/usr/share/sip/QtCore/qglobal.sip
/usr/share/sip/QtCore/qsocketnotifier.sip
/usr/share/sip/QtCore/qpluginloader.sip
/usr/share/sip/QtCore/qobject.sip
/usr/share/sip/QtCore/qobjectcleanuphandler.sip
/usr/share/sip/QtCore/qlocale.sip
/usr/share/sip/QtCore/qcoreevent.sip
/usr/share/sip/QtCore/qline.sip
/usr/share/sip/QtCore/qstatemachine.sip
/usr/share/sip/QtCore/qfinalstate.sip
/usr/share/sip/QtCore/qvariant.sip
/usr/share/sip/QtCore/qdiriterator.sip
/usr/share/sip/QtCore/qreadwritelock.sip
/usr/share/sip/QtCore/qbytearray.sip
/usr/share/sip/QtCore/qmargins.sip
/usr/share/sip/QtCore/qobjectdefs.sip
/usr/share/sip/QtCore/qstringlist.sip
/usr/share/sip/QtCore/qabstractfileengine.sip
/usr/share/sip/QtCore/qlibrary.sip
/usr/share/sip/QtCore/qstringmatcher.sip
/usr/share/sip/QtCore/qdatetime.sip
/usr/share/sip/QtCore/qlibraryinfo.sip
/usr/share/sip/QtCore/qhash.sip
/usr/share/sip/QtCore/qsemaphore.sip
/usr/share/sip/QtGui/qfileiconprovider.sip
/usr/share/sip/QtGui/qtextdocumentwriter.sip
/usr/share/sip/QtGui/qtexttable.sip
/usr/share/sip/QtGui/qcolordialog.sip
/usr/share/sip/QtGui/qstackedlayout.sip
/usr/share/sip/QtGui/qicon.sip
/usr/share/sip/QtGui/qgraphicsitem.sip
/usr/share/sip/QtGui/qactiongroup.sip
/usr/share/sip/QtGui/qtextobject.sip
/usr/share/sip/QtGui/qpagesetupdialog.sip
/usr/share/sip/QtGui/qwhatsthis.sip
/usr/share/sip/QtGui/qabstracttextdocumentlayout.sip
/usr/share/sip/QtGui/qabstractbutton.sip
/usr/share/sip/QtGui/qdialog.sip
/usr/share/sip/QtGui/qdatetimeedit.sip
/usr/share/sip/QtGui/qwidgetaction.sip
/usr/share/sip/QtGui/qsortfilterproxymodel.sip
/usr/share/sip/QtGui/qkeysequence.sip
/usr/share/sip/QtGui/qfontdialog.sip
/usr/share/sip/QtGui/qprintengine.sip
/usr/share/sip/QtGui/qvector3d.sip
/usr/share/sip/QtGui/qmovie.sip
/usr/share/sip/QtGui/qtoolbar.sip
/usr/share/sip/QtGui/qstyleditemdelegate.sip
/usr/share/sip/QtGui/qlistview.sip
/usr/share/sip/QtGui/qmime.sip
/usr/share/sip/QtGui/qpaintdevice.sip
/usr/share/sip/QtGui/qcursor.sip
/usr/share/sip/QtGui/qstyleoption.sip
/usr/share/sip/QtGui/qgraphicslinearlayout.sip
/usr/share/sip/QtGui/qtextdocumentfragment.sip
/usr/share/sip/QtGui/qgraphicsanchorlayout.sip
/usr/share/sip/QtGui/qtoolbutton.sip
/usr/share/sip/QtGui/qprogressdialog.sip
/usr/share/sip/QtGui/qfilesystemmodel.sip
/usr/share/sip/QtGui/qmenubar.sip
/usr/share/sip/QtGui/qprintpreviewwidget.sip
/usr/share/sip/QtGui/qfontinfo.sip
/usr/share/sip/QtGui/qgridlayout.sip
/usr/share/sip/QtGui/qtextoption.sip
/usr/share/sip/QtGui/qpolygon.sip
/usr/share/sip/QtGui/qgraphicseffect.sip
/usr/share/sip/QtGui/qpainterpath.sip
/usr/share/sip/QtGui/qgraphicsscene.sip
/usr/share/sip/QtGui/qmdiarea.sip
/usr/share/sip/QtGui/qstatusbar.sip
/usr/share/sip/QtGui/qinputcontext.sip
/usr/share/sip/QtGui/qprinter.sip
/usr/share/sip/QtGui/qtextformat.sip
/usr/share/sip/QtGui/qitemeditorfactory.sip
/usr/share/sip/QtGui/qundostack.sip
/usr/share/sip/QtGui/qlcdnumber.sip
/usr/share/sip/QtGui/qabstractprintdialog.sip
/usr/share/sip/QtGui/qgraphicslayoutitem.sip
/usr/share/sip/QtGui/qwizard.sip
/usr/share/sip/QtGui/qpytextobject.sip
/usr/share/sip/QtGui/qabstractspinbox.sip
/usr/share/sip/QtGui/qabstractslider.sip
/usr/share/sip/QtGui/qtabbar.sip
/usr/share/sip/QtGui/qcombobox.sip
/usr/share/sip/QtGui/qprinterinfo.sip
/usr/share/sip/QtGui/qgraphicsitemanimation.sip
/usr/share/sip/QtGui/qapplication.sip
/usr/share/sip/QtGui/qwidget.sip
/usr/share/sip/QtGui/qfontcombobox.sip
/usr/share/sip/QtGui/qgenericmatrix.sip
/usr/share/sip/QtGui/qmdisubwindow.sip
/usr/share/sip/QtGui/qmatrix4x4.sip
/usr/share/sip/QtGui/qframe.sip
/usr/share/sip/QtGui/qradiobutton.sip
/usr/share/sip/QtGui/qcolumnview.sip
/usr/share/sip/QtGui/qmouseeventtransition.sip
/usr/share/sip/QtGui/qdesktopservices.sip
/usr/share/sip/QtGui/qimagewriter.sip
/usr/share/sip/QtGui/qsizegrip.sip
/usr/share/sip/QtGui/qinputcontextfactory.sip
/usr/share/sip/QtGui/qgraphicstransform.sip
/usr/share/sip/QtGui/qpen.sip
/usr/share/sip/QtGui/qtextlayout.sip
/usr/share/sip/QtGui/qx11info_x11.sip
/usr/share/sip/QtGui/qquaternion.sip
/usr/share/sip/QtGui/qlayoutitem.sip
/usr/share/sip/QtGui/qabstractproxymodel.sip
/usr/share/sip/QtGui/qdatawidgetmapper.sip
/usr/share/sip/QtGui/qabstractpagesetupdialog.sip
/usr/share/sip/QtGui/qgraphicsproxywidget.sip
/usr/share/sip/QtGui/qgesturerecognizer.sip
/usr/share/sip/QtGui/qlistwidget.sip
/usr/share/sip/QtGui/qtoolbox.sip
/usr/share/sip/QtGui/qtextlist.sip
/usr/share/sip/QtGui/qgraphicsview.sip
/usr/share/sip/QtGui/qabstractscrollarea.sip
/usr/share/sip/QtGui/qmatrix.sip
/usr/share/sip/QtGui/qevent.sip
/usr/share/sip/QtGui/qcompleter.sip
/usr/share/sip/QtGui/qlayout.sip
/usr/share/sip/QtGui/qabstractitemview.sip
/usr/share/sip/QtGui/qplaintextedit.sip
/usr/share/sip/QtGui/qtreewidgetitemiterator.sip
/usr/share/sip/QtGui/qabstractitemdelegate.sip
/usr/share/sip/QtGui/qgraphicsgridlayout.sip
/usr/share/sip/QtGui/qlineedit.sip
/usr/share/sip/QtGui/qgesture.sip
/usr/share/sip/QtGui/qtransform.sip
/usr/share/sip/QtGui/qsystemtrayicon.sip
/usr/share/sip/QtGui/qvector4d.sip
/usr/share/sip/QtGui/qformlayout.sip
/usr/share/sip/QtGui/qpaintengine.sip
/usr/share/sip/QtGui/qgraphicswidget.sip
/usr/share/sip/QtGui/qregion.sip
/usr/share/sip/QtGui/qtextcursor.sip
/usr/share/sip/QtGui/qrubberband.sip
/usr/share/sip/QtGui/qmenu.sip
/usr/share/sip/QtGui/qvalidator.sip
/usr/share/sip/QtGui/qitemselectionmodel.sip
/usr/share/sip/QtGui/qclipboard.sip
/usr/share/sip/QtGui/qtabwidget.sip
/usr/share/sip/QtGui/qdrawutil.sip
/usr/share/sip/QtGui/qpicture.sip
/usr/share/sip/QtGui/qlabel.sip
/usr/share/sip/QtGui/qsyntaxhighlighter.sip
/usr/share/sip/QtGui/qtextdocument.sip
/usr/share/sip/QtGui/qscrollbar.sip
/usr/share/sip/QtGui/qsplashscreen.sip
/usr/share/sip/QtGui/qpainter.sip
/usr/share/sip/QtGui/qx11embed_x11.sip
/usr/share/sip/QtGui/qdirmodel.sip
/usr/share/sip/QtGui/qtreewidget.sip
/usr/share/sip/QtGui/qfiledialog.sip
/usr/share/sip/QtGui/qtextbrowser.sip
/usr/share/sip/QtGui/qkeyeventtransition.sip
/usr/share/sip/QtGui/qundogroup.sip
/usr/share/sip/QtGui/qerrormessage.sip
/usr/share/sip/QtGui/qwindowdefs.sip
/usr/share/sip/QtGui/qtablewidget.sip
/usr/share/sip/QtGui/qvector2d.sip
/usr/share/sip/QtGui/qcolor.sip
/usr/share/sip/QtGui/qstackedwidget.sip
/usr/share/sip/QtGui/qrgb.sip
/usr/share/sip/QtGui/qprogressbar.sip
/usr/share/sip/QtGui/qdesktopwidget.sip
/usr/share/sip/QtGui/qsizepolicy.sip
/usr/share/sip/QtGui/qstylefactory.sip
/usr/share/sip/QtGui/qstandarditemmodel.sip
/usr/share/sip/QtGui/qfont.sip
/usr/share/sip/QtGui/qpixmap.sip
/usr/share/sip/QtGui/qstylepainter.sip
/usr/share/sip/QtGui/qcommandlinkbutton.sip
/usr/share/sip/QtGui/qcalendarwidget.sip
/usr/share/sip/QtGui/qimageiohandler.sip
/usr/share/sip/QtGui/qfontmetrics.sip
/usr/share/sip/QtGui/qworkspace.sip
/usr/share/sip/QtGui/qdial.sip
/usr/share/sip/QtGui/qbuttongroup.sip
/usr/share/sip/QtGui/qboxlayout.sip
/usr/share/sip/QtGui/qdockwidget.sip
/usr/share/sip/QtGui/qgraphicssceneevent.sip
/usr/share/sip/QtGui/qitemdelegate.sip
/usr/share/sip/QtGui/qfocusframe.sip
/usr/share/sip/QtGui/qprintdialog.sip
/usr/share/sip/QtGui/qbitmap.sip
/usr/share/sip/QtGui/qtextedit.sip
/usr/share/sip/QtGui/qsessionmanager.sip
/usr/share/sip/QtGui/qheaderview.sip
/usr/share/sip/QtGui/qaction.sip
/usr/share/sip/QtGui/qshortcut.sip
/usr/share/sip/QtGui/qpushbutton.sip
/usr/share/sip/QtGui/qimagereader.sip
/usr/share/sip/QtGui/qslider.sip
/usr/share/sip/QtGui/qpalette.sip
/usr/share/sip/QtGui/qsplitter.sip
/usr/share/sip/QtGui/qiconengine.sip
/usr/share/sip/QtGui/qtreeview.sip
/usr/share/sip/QtGui/qstyle.sip
/usr/share/sip/QtGui/qsound.sip
/usr/share/sip/QtGui/qundoview.sip
/usr/share/sip/QtGui/qprintpreviewdialog.sip
/usr/share/sip/QtGui/qmessagebox.sip
/usr/share/sip/QtGui/qspinbox.sip
/usr/share/sip/QtGui/qscrollarea.sip
/usr/share/sip/QtGui/qtableview.sip
/usr/share/sip/QtGui/qfontdatabase.sip
/usr/share/sip/QtGui/QtGuimod.sip
/usr/share/sip/QtGui/qcheckbox.sip
/usr/share/sip/QtGui/qimage.sip
/usr/share/sip/QtGui/qdrag.sip
/usr/share/sip/QtGui/qgroupbox.sip
/usr/share/sip/QtGui/qdialogbuttonbox.sip
/usr/share/sip/QtGui/qpixmapcache.sip
/usr/share/sip/QtGui/qgraphicslayout.sip
/usr/share/sip/QtGui/qtooltip.sip
/usr/share/sip/QtGui/qmainwindow.sip
/usr/share/sip/QtGui/qproxymodel.sip
/usr/share/sip/QtGui/qinputdialog.sip
/usr/share/sip/QtGui/qbrush.sip
/usr/share/sip/QtGui/qstringlistmodel.sip
/usr/share/sip/QtHelp/QtHelpmod.sip
/usr/share/sip/QtHelp/qhelpenginecore.sip
/usr/share/sip/QtHelp/qhelpsearchengine.sip
/usr/share/sip/QtHelp/qhelpsearchresultwidget.sip
/usr/share/sip/QtHelp/qhelpcontentwidget.sip
/usr/share/sip/QtHelp/qhelpengine.sip
/usr/share/sip/QtHelp/qhelpsearchquerywidget.sip
/usr/share/sip/QtHelp/qhelpindexwidget.sip
/usr/share/sip/QtMultimedia/qabstractvideobuffer.sip
/usr/share/sip/QtMultimedia/qvideoframe.sip
/usr/share/sip/QtMultimedia/QtMultimediamod.sip
/usr/share/sip/QtMultimedia/qaudio.sip
/usr/share/sip/QtMultimedia/qaudiooutput.sip
/usr/share/sip/QtMultimedia/qaudioformat.sip
/usr/share/sip/QtMultimedia/qabstractvideosurface.sip
/usr/share/sip/QtMultimedia/qaudiodeviceinfo.sip
/usr/share/sip/QtMultimedia/qvideosurfaceformat.sip
/usr/share/sip/QtMultimedia/qaudioinput.sip
/usr/share/sip/QtNetwork/qhostaddress.sip
/usr/share/sip/QtNetwork/qssl.sip
/usr/share/sip/QtNetwork/qlocalsocket.sip
/usr/share/sip/QtNetwork/qnetworkinterface.sip
/usr/share/sip/QtNetwork/qftp.sip
/usr/share/sip/QtNetwork/qsslcertificate.sip
/usr/share/sip/QtNetwork/qudpsocket.sip
/usr/share/sip/QtNetwork/qsslconfiguration.sip
/usr/share/sip/QtNetwork/qsslerror.sip
/usr/share/sip/QtNetwork/qtcpserver.sip
/usr/share/sip/QtNetwork/qnetworkreply.sip
/usr/share/sip/QtNetwork/qnetworkproxy.sip
/usr/share/sip/QtNetwork/QtNetworkmod.sip
/usr/share/sip/QtNetwork/qnetworkcookie.sip
/usr/share/sip/QtNetwork/qauthenticator.sip
/usr/share/sip/QtNetwork/qnetworkaccessmanager.sip
/usr/share/sip/QtNetwork/qsslkey.sip
/usr/share/sip/QtNetwork/qabstractnetworkcache.sip
/usr/share/sip/QtNetwork/qtcpsocket.sip
/usr/share/sip/QtNetwork/qsslsocket.sip
/usr/share/sip/QtNetwork/qnetworkrequest.sip
/usr/share/sip/QtNetwork/qurlinfo.sip
/usr/share/sip/QtNetwork/qhttp.sip
/usr/share/sip/QtNetwork/qabstractsocket.sip
/usr/share/sip/QtNetwork/qnetworkdiskcache.sip
/usr/share/sip/QtNetwork/qnetworkcookiejar.sip
/usr/share/sip/QtNetwork/qlocalserver.sip
/usr/share/sip/QtNetwork/qhostinfo.sip
/usr/share/sip/QtNetwork/qsslcipher.sip
/usr/share/sip/QtOpenGL/qglframebufferobject.sip
/usr/share/sip/QtOpenGL/qgl.sip
/usr/share/sip/QtOpenGL/qglshaderprogram.sip
/usr/share/sip/QtOpenGL/qglpixelbuffer.sip
/usr/share/sip/QtOpenGL/QtOpenGLmod.sip
/usr/share/sip/QtOpenGL/opengl_types.sip
/usr/share/sip/QtOpenGL/qglcolormap.sip
/usr/share/sip/QtScript/qscriptengine.sip
/usr/share/sip/QtScript/qscriptvalueiterator.sip
/usr/share/sip/QtScript/qscriptclasspropertyiterator.sip
/usr/share/sip/QtScript/qscriptclass.sip
/usr/share/sip/QtScript/qscriptcontext.sip
/usr/share/sip/QtScript/qscriptvalue.sip
/usr/share/sip/QtScript/qscriptcontextinfo.sip
/usr/share/sip/QtScript/qscriptengineagent.sip
/usr/share/sip/QtScript/qscriptstring.sip
/usr/share/sip/QtScript/QtScriptmod.sip
/usr/share/sip/QtScriptTools/qscriptenginedebugger.sip
/usr/share/sip/QtScriptTools/QtScriptToolsmod.sip
/usr/share/sip/QtSql/qsqlerror.sip
/usr/share/sip/QtSql/qsqlrelationaltablemodel.sip
/usr/share/sip/QtSql/qsqlresult.sip
/usr/share/sip/QtSql/qsqldatabase.sip
/usr/share/sip/QtSql/qsqlfield.sip
/usr/share/sip/QtSql/qsqlindex.sip
/usr/share/sip/QtSql/qsqldriver.sip
/usr/share/sip/QtSql/QtSqlmod.sip
/usr/share/sip/QtSql/qsqlrecord.sip
/usr/share/sip/QtSql/qsql.sip
/usr/share/sip/QtSql/qsqlquery.sip
/usr/share/sip/QtSql/qsqltablemodel.sip
/usr/share/sip/QtSql/qsqlrelationaldelegate.sip
/usr/share/sip/QtSql/qsqlquerymodel.sip
/usr/share/sip/QtSvg/qsvgwidget.sip
/usr/share/sip/QtSvg/qgraphicssvgitem.sip
/usr/share/sip/QtSvg/qsvggenerator.sip
/usr/share/sip/QtSvg/qsvgrenderer.sip
/usr/share/sip/QtSvg/QtSvgmod.sip
/usr/share/sip/QtTest/qtestsystem.sip
/usr/share/sip/QtTest/qtesttouch.sip
/usr/share/sip/QtTest/qtestkeyboard.sip
/usr/share/sip/QtTest/qtestcase.sip
/usr/share/sip/QtTest/qtestmouse.sip
/usr/share/sip/QtTest/QtTestmod.sip
/usr/share/sip/QtWebKit/qwebview.sip
/usr/share/sip/QtWebKit/qgraphicswebview.sip
/usr/share/sip/QtWebKit/qwebpluginfactory.sip
/usr/share/sip/QtWebKit/qwebhistoryinterface.sip
/usr/share/sip/QtWebKit/qwebelement.sip
/usr/share/sip/QtWebKit/qwebpage.sip
/usr/share/sip/QtWebKit/qwebsecurityorigin.sip
/usr/share/sip/QtWebKit/qwebkitversion.sip
/usr/share/sip/QtWebKit/QtWebKitmod.sip
/usr/share/sip/QtWebKit/qwebdatabase.sip
/usr/share/sip/QtWebKit/qwebsettings.sip
/usr/share/sip/QtWebKit/qwebframe.sip
/usr/share/sip/QtWebKit/qwebinspector.sip
/usr/share/sip/QtWebKit/qwebhistory.sip
/usr/share/sip/QtXml/qdom.sip
/usr/share/sip/QtXml/QtXmlmod.sip
/usr/share/sip/QtXml/qxmlstream.sip
/usr/share/sip/QtXml/qxml.sip
/usr/share/sip/QtXmlPatterns/qxmlschema.sip
/usr/share/sip/QtXmlPatterns/qxmlnamepool.sip
/usr/share/sip/QtXmlPatterns/qsourcelocation.sip
/usr/share/sip/QtXmlPatterns/qabstractxmlnodemodel.sip
/usr/share/sip/QtXmlPatterns/QtXmlPatternsmod.sip
/usr/share/sip/QtXmlPatterns/qxmlschemavalidator.sip
/usr/share/sip/QtXmlPatterns/qabstracturiresolver.sip
/usr/share/sip/QtXmlPatterns/qxmlformatter.sip
/usr/share/sip/QtXmlPatterns/qxmlname.sip
/usr/share/sip/QtXmlPatterns/qxmlquery.sip
/usr/share/sip/QtXmlPatterns/qxmlserializer.sip
/usr/share/sip/QtXmlPatterns/qabstractxmlreceiver.sip
/usr/share/sip/QtXmlPatterns/qsimplexmlnodemodel.sip
/usr/share/sip/QtXmlPatterns/qxmlresultitems.sip
/usr/share/sip/QtXmlPatterns/qabstractmessagehandler.sip
/usr/share/sip/QtDesigner/propertysheet.sip
/usr/share/sip/QtDesigner/qextensionmanager.sip
/usr/share/sip/QtDesigner/formbuilder.sip
/usr/share/sip/QtDesigner/qpydesignercontainerextension.sip
/usr/share/sip/QtDesigner/extension.sip
/usr/share/sip/QtDesigner/QtDesignermod.sip
/usr/share/sip/QtDesigner/abstractpropertyeditor.sip
/usr/share/sip/QtDesigner/taskmenu.sip
/usr/share/sip/QtDesigner/container.sip
/usr/share/sip/QtDesigner/customwidget.sip
/usr/share/sip/QtDesigner/abstractwidgetbox.sip
/usr/share/sip/QtDesigner/default_extensionfactory.sip
/usr/share/sip/QtDesigner/abstractformwindow.sip
/usr/share/sip/QtDesigner/membersheet.sip
/usr/share/sip/QtDesigner/qpydesignercustomwidgetcollectionplugin.sip
/usr/share/sip/QtDesigner/abstractformeditor.sip
/usr/share/sip/QtDesigner/abstractformwindowcursor.sip
/usr/share/sip/QtDesigner/qpydesignerpropertysheetextension.sip
/usr/share/sip/QtDesigner/abstractactioneditor.sip
/usr/share/sip/QtDesigner/abstractformwindowmanager.sip
/usr/share/sip/QtDesigner/abstractformbuilder.sip
/usr/share/sip/QtDesigner/abstractobjectinspector.sip
/usr/share/sip/QtDesigner/qpydesignermembersheetextension.sip
/usr/share/sip/QtDesigner/qpydesignercustomwidgetplugin.sip
/usr/share/sip/QtDesigner/qpydesignertaskmenuextension.sip
/usr/share/sip/Qt/Qtmod.sip

%clean

