IDI_ICON1               ICON    DISCARDABLE     "images/assfreezer48.ico"
IDI_ICON2               ICON    DISCARDABLE     "images/assfreezer32.ico"
IDI_ICON3               ICON    DISCARDABLE     "images/assfreezer16.ico"
